body
{
    background-color: #7e83bf;
}

.principal
{
    border-radius: 8px;
    text-align: center;
    width: 50%;
    margin: 20% auto auto;

    background-color: #6d6d6d;
    border: #ffffff10 2px solid;
    background: #ffffff;

    
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulario
{
    width: 50%;
    margin: 40px auto;
    background-color: #6d6d6d;
    border: #ffffff30 2px solid;
    background: #ffffff;

    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

/* #form h3, h3
{
    margin-top: 60px;
} */


.botoes
{
    background-color: #646ed8;
    color: #fff;
}

.botoes:hover{
    background-color: #545cb6;

}

