html, body{
    height: 100%;
    width: 100%;
}
body
{
    background-color: #7e83bf;
}
.home-center{
    margin-top: 5%;
    align-items: center;
    text-align: center;
    flex: 1;
}
.motivacao{
    width: 70%;
    margin: 0 auto;
}
.bancas-prontas{
    margin-top: 40px;

}
.banca{
    margin: 0 auto;
    width: 100%;
    height: 100px;
    text-align: center;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);

}
.formulario
{
    width: 50%;
    margin: 40px auto;
    background-color: #6d6d6d;
    border: #ffffff30 2px solid;
    background: #ffffff;

    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.botoes
{
    background-color: #646ed8;
    color: #fff;
}

.botoes:hover{
    background-color: #545cb6;

}
.footer{
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center; */
    margin-top: auto;
    transform: translateY(100%);
}

